#description {
    color: white;
}

table {
    color: white;
    align-content: center;
}

td {
    text-align: center;
}

span {
    position: relative;
    font-size: 12px;
    color: orange;
}

item {
    position: relative;
    font-size: 15px;
    color: lightblue;
}

#comment{
    text-align: justify;
    text-justify: inter-word;
}
text {
    position: relative;
    font-size: 15px;
    color: rgb(171, 196, 235);
}