#description {
    color: white;
}

table {
    color: white;
    align-content: center;
}

td {
    text-align: center;
}

span {
    position: relative;
    font-size: 12px;
    color: orange;
}

item {
    position: relative;
    font-size: 15px;
    color: lightblue;
}

#comment{
    text-align: justify;
    text-justify: inter-word;
}
text {
    position: relative;
    font-size: 15px;
    color: rgb(171, 196, 235);
}

a:link, a:visited {
    position: relative;
    font-size: 15px;
    color: rgb(171, 196, 235);
    text-decoration: none;
}

a:hover {
    font-size: 16px;
    color: rgb(236, 158, 195);
}

#sub-title {
   color: white;
   font-size: 200%;
   line-height: 1.15;
}

#name {
    color: orangered;
    font-size: 200%;
    line-height: 1.15;
 }