#description {
    color: white;
}

table {
    margin: 0.5em 0.5em 0.5em 0;
    color: white;
    align-content: left;
    table-layout: fixed;
    max-width: 100%;
}

tr{
    max-width: 500px;
}

td {
    text-align: left;

    padding: 0.5em 1em 0.5 0em;
}

td:empty {
    display: none;
}

.adjust{
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    max-width: 100%;
}

span {
    position: relative;
    font-size: 12px;
    color: orange;
}

item {
    position: relative;
    font-size: 15px;
    color: lightblue;
}

#comment{
    text-align: justify;
    text-justify: inter-word;
}
text {
    position: relative;
    font-size: 15px;
    color: rgb(171, 196, 235);
}

a:link, a:visited {
    position: relative;
    font-size: 15px;
    color: rgb(125, 137, 238);
    text-decoration: none;
}

a:hover {
    font-size: 16px;
    color: rgb(236, 158, 195);
}

#sub-title {
   color: white;
   font-size: 200%;
   line-height: 1.15;
}

#name {
    color: rgb(208, 53, 135);
    font-size: 250%;
    line-height: 1.15;
 }

 .ui-widget-content {
    position: relative !important;
    font-size: 14px !important;
    color: white !important;
    background: transparent !important;
    border: none !important;
    font-family: 'Poppins', sans-serif !important;
 }

 .ui-accordion-header {
    position: relative !important;
    font-size: 15px !important;
    color: lightblue !important;
    background: transparent !important;
    border: none !important;
    font-weight: normal !important;
 }

 .ui-accordion-header-icon {
    display: none !important;
 }

 .ui-accordion {
    position: relative;
    /*font-size: 13px !important;*/
    text-align: justify !important;
    text-justify: inter-word !important;
 }

 .ui-accordion-active {
    font-size: 15px !important;
    margin-left: 0.5em !important;
    color: rgb(236, 158, 195);
 }

 .ui-widget {
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif !important;
}

.ui-accordion .ui-accordion-icons {
    padding-left: none !important;
}

.ui-accordion .ui-accordion-header {
    padding: .0em .5em .0em .0em !important;
    font-weight: normal !important;
    font-family: 'Poppins', sans-serif !important;
}

.plegable {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(125, 170, 238) !important;
    margin: 0 0 0 0;
    font-size: 15px;
    background: transparent !important;
    border: none !important;
}

.ui-state-hover {
    background: transparent !important;
    border: none !important;
    color: rgb(236, 158, 195) !important;
}

h4 {
    font-family: 'Poppins', sans-serif !important;
    color: lightblue !important;
    margin: 0 0 0 0;
    font-size: 15px;
    background: transparent !important;
    border: none !important;
    font-weight: normal !important;
    line-height: 1.3;
}

.ui-accordion .ui-accordion-content {
    padding-top: 1em;
    padding-right: 0.0em;
    padding-bottom: 1em;
    padding-left: 1.2em;
    border-top: 0;
    overflow: auto;
}